<!-- <h1><p>
  Rendered New Component!!
</p>
</h1> -->
<!-- ASSIGNMENT 5 - Q4 -->
<b>Original String:</b><h1>{{name}}</h1>
<b>To Lowercase:</b><h2>{{name.toLowerCase()}}</h2>
<b>To UpperCase:</b><h3>{{name.toUpperCase()}}</h3>
<b>Concatination:</b><h4>{{name + 'Added String'}}</h4> 
<!-- <b>Function Call=> {{fun()}}</b> -->

<h2><b>{{name}}</b></h2>

<button name="enter" (click)="fun()">Change Text</button><br><br>

{{lowerName}}<br>
<button name="enter" (click)="lower()"> Change to Lower case</button><br><br>
{{upperName}}<br>
<button name="enter" (click)="upper()"> Change to Upper case</button> 


