h1{
    color: aqua;
    background-color: black;
}
h2{
    color: rebeccapurple;
    background-color: bisque;
}
h3{
    color: aqua;
    background-color: black;
}
h4{
    color: rebeccapurple;
    background-color:bisque;
}
